<div class="test-title">{{ testName.getName() }}</div>
<div class="question">{{ questions[questionNo].getQuestion() }}</div>
<div class="answers">
    {% for answer in questions[questionNo].answers %}
        <div class="test-answer" data-id="{{ answer.getId() }}">{{ answer.getAnswer() }}</div>
    {% endfor %}
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ 100*(questionNo)/questions|length }}%" aria-valuenow="{{ 100*(questionNo)/questions|length }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<form name="{{ test }}" method="post" class="question-form" data-questionNo="{{ questionNo }}">
    <input name="answer" type="hidden">
    <input name="question" type="hidden" value="{{ questions[questionNo].getId() }}">
    <input name="name" value="{{ name }}", type="hidden">
    <input name="test" value="{{ test }}", type="hidden">
    <input type="hidden" value="questions", name="testStage">
    <input type="submit" value="NÄkamais">
</form>

